* {
    box-sizing: border-box; 
    font-family: arial, sans-serif; 
    font-size: 13px; 
}
.body {
   position: relative; 
  
}

a {
    text-decoration: none;
     
}

a:not(.avatar) {
    color: black;
    opacity: 0.75; 
}

a:hover {
    text-decoration: underline;
}

span.avatar {
    color: #ffffff;
}

nav {
    padding: 16px 16px; 
    display: flex; 
    align-items: center; 
}

.store {
    margin-right: auto; 
}

footer .right, 
footer .left {
    float: left;
}

footer .order {
    float: right; 
}

nav li, 
footer li {
    display: inline-block; 
    padding: 0px 10px;
}

.waffle img {
    width: 18px;
}

#avatar {
    background-color: navy;
    color: white; 
    text-align: center; 
    border-radius: 50%;
    width: 30px; 
    height: 30px; 
    margin: 0 8px; 
    padding: 0;  
    cursor: pointer; 
    font-size: 21px;
}

      
 
.input,
.main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    top: 35%;
}

.input {
    border-radius: 50px;
    width: 482px;
    height: 44px;
    border: 1px solid lightgrey;
    top: 46%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    align-content: center; 
}

.input:hover {
    /* border: 2px solid #f2f2f2; */
    box-shadow: 0px 0px 6px lightgrey;
}

input {
    width: 414px;
    height: 39px; 
    border: none;
    display: flex; 
}

input:focus {
    outline: none; 
}

.voice {
    width: 24px; 
    padding: 0 5px; 
}

.tooltip {
    position: relative; 
    display: inline-block; 
}

.tooltip .tooltiptext {
    visibility: hidden; 
    width: 105px; 
    background-color: black; 
    color: #fff; 
    font-size: 11px; 
    font-weight: bold;  
    text-align: center;
    padding: 7px; 
    position: absolute; 
    z-index: 1;
    top: 175%;
    left: 50%; 
    margin-left: -53px; 
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

button {
    background-color: #f2f2f2;
    color: #5f6368;
    font-size: 14px; 
    padding: 10px 16px;
    border-radius: 5px; 
    margin: 5px;
    border: none;  
}

button:hover {
    border: 1px solid lightgrey;   
}

.btn {
    position: absolute; 
    left: 50%; 
    top: 54%; 
    transform: translate(-50%, -50%);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0; 
    background-color: #f2f2f2;
    color: #5f6368; 
    width: 100%; 
    padding: 16px; 
    border-top: 1px solid rgb(228, 228, 228); 
}






