* {
    box-sizing: border-box; 
    font-family: arial, sans-serif; 
    font-size: 13px; 
}
.body {
   position: relative; 
  
}

a {
    text-decoration: none;
    color: black; 
    opacity: 0.75; 
}

a:hover {
    text-decoration: underline;
}
      
 
.input,
.main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    top: 35%;
}

.input {
    border-radius: 50px;
    width: 482px;
    height: 44px;
    border: 1px solid lightgrey;
    top: 46%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    align-content: center; 
}

.input:hover {
    /* border: 2px solid #f2f2f2; */
    box-shadow: 0px 0px 6px lightgrey;
}

input {
    width: 414px;
    height: 39px; 
    border: none;
    display: flex; 
}

input:focus {
    outline: none; 
}

.voice {
    width: 24px; 
    padding: 0 5px; 
}

button {
    background-color: #f2f2f2;
    color: #5f6368;
    font-size: 14px; 
    padding: 10px 16px;
    border-radius: 5px; 
    margin: 5px;
    border: none;  
}

button:hover {
    border: 1px solid lightgrey;   
}

.btn {
    position: absolute; 
    left: 50%; 
    top: 54%; 
    transform: translate(-50%, -50%);
}

nav {
    padding: 16px 16px; 
}

nav .right, 
nav .left, 
footer .right, 
footer .left {
    float: left;
}

nav .order, 
footer .order {
    float: right; 
}

nav li, 
footer li {
    display: inline-block; 
    padding: 0px 16px;
}

.waffle img {
    width: 30px;

}


.avatar {
    background-color: navy;
    color: white; 
    text-align: center; 
    border-radius: 50%;
    width: 32px; 
    height: 32px; 
    padding: 0; 
     
}

footer {
    position: fixed;
    bottom: 0;
    left: 0; 
    background-color: #f2f2f2;
    color: #5f6368; 
    width: 100%; 
    padding: 16px; 
    border-top: 1px solid rgb(228, 228, 228); 
}






